---
/ Shows a list of Marvel heroes, pulled from a data file named `heroes.yml` in `/data` folder with the following contents:

-
  name: Quicksilver
  description: This character _is fast_.
-
  name: Hulk
  description: Be carefull with him, he __is strong__.
-
  name: Professor X
  description: [Consult cerebro](http://en.wikipedia.org/wiki/Professor_X) if you want more information.

---

h1 Marvel heroes

- data.heroes.each do |hero|
  h2
    = hero.name
  p
    = Kramdown::Document.new(hero.description).to_html
  hr
